/* ====================== Duktig Solutions CSS style ============================= */

/* Right nav top blue */
.wy-side-nav-search {
    background-color: #FFF; /*#0366d6;*/
    width: 350px;
}

.wy-side-nav-search a, .wy-side-nav-search a:visited, .wy-side-nav-search a:active, .wy-side-nav-search a:hover {
    color:#186ADC;
    background: none;
    font-size: 18px;
}

/* Right nav back #f8f9fa */
.wy-nav-side {
    background-color: #FFF !important;
    width: 350px;
}
.wy-nav-side .wy-side-scroll {
    width: 370px;
}

/* Right search box */
.wy-side-nav-search input[type=text], form .search-query {
    display: block;
    font-size: 1rem;
    font-family: "Montserrat";
    /*font-weight: var(--font-weight);*/
    width: 100%;
    padding: calc(0.75em - 1px) 1rem;
    /*margin-bottom: 1rem;*/
    /*line-height: var(--line-height);*/
    border-radius: 7px;
    border: 1px solid #D4D4E1;
    background-color: transparent;
    outline: none;
    color: #303036;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.2s;
}

.wy-menu-vertical {
    margin:15px;
    background-color: #f0f4f8;
    border-radius: 7px;
    padding-top:10px;
    width: 325px;
    line-height: 25px;
}
.wy-menu-vertical li.current ul, .wy-menu-vertical li.toctree-l2.current>a, .wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
    background-color: #f0f4f8;
}
li.toctree-l3>a {
    padding:.4045em 1.618em .1045em 3.045em !important;
}

.wy-menu-vertical li.current>a, .wy-menu-vertical li.on a {
    background-color: #f0f4f8;
    /*background-color: #FFF;*/
}
.wy-menu-vertical li.toctree-l1.current>a{
    border:0;
    border-left:1px solid #186ADC;
    /*color: #186ADC;*/
}
.wy-menu-vertical li.toctree-l1 a {
    font-size: 14px !important;
}

.wy-menu-vertical li.current>a button.toctree-expand, .wy-menu-vertical li.on a button.toctree-expand {
    color:#CCCCCC;
    background-color: #f0f4f8;
}

.wy-menu-vertical li.current a {
    border:0;

}

/* Right nav big labels */
.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #303036;
    font-size: 15px !important;
    padding: 0 1.418em;
}

/* Right nav link items */
.wy-menu-vertical a, .wy-menu-vertical a:visited {
    color: #63636b;
}
.wy-menu-vertical a:active, .wy-menu-vertical a:hover {
    background: none;
    color: #186ADC;
}

/* Right nav bottom part */
.rst-versions, .rst-versions, .rst-versions .rst-current-version {
    background-color: #FFF;
    padding-bottom: 5px;
    /*padding-top:5px;*/
}
.rst-versions a, .rst-versions a:visited {
    color: #186ADC !important;
}
.rst-versions a:active, .rst-versions a:hover {
    color: #186ADC !important;
}

/* Center section */
.wy-nav-content-wrap {
    background-color: #FFF;
    margin-left: 350px;
}

.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l3 a, .wy-menu-vertical li.toctree-l4 a, .wy-menu-vertical li.toctree-l5 a, .wy-menu-vertical li.toctree-l6 a, .wy-menu-vertical li.toctree-l7 a, .wy-menu-vertical li.toctree-l8 a, .wy-menu-vertical li.toctree-l9 a, .wy-menu-vertical li.toctree-l10 a {
    color:#4c4d4d;
}
.wy-menu-vertical li.toctree-l2 a:hover, .wy-menu-vertical li.toctree-l3 a:hover, .wy-menu-vertical li.toctree-l4 a:hover, .wy-menu-vertical li.toctree-l5 a:hover, .wy-menu-vertical li.toctree-l6 a:hover, .wy-menu-vertical li.toctree-l7 a:hover, .wy-menu-vertical li.toctree-l8 a:hover, .wy-menu-vertical li.toctree-l9 a:hover, .wy-menu-vertical li.toctree-l10 a:hover {
    color: #186ADC;
}
/* Center section container */
.wy-nav-content {
    max-width:70%;
    color:#4c4d4d;
    line-height: 1;
}

/* Image in content */
.wy-nav-content img {
    display: block;
    width: 80%;
    margin: 20px auto;
}

body {
    /*font-family: "Montserrat";*/
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h1, h2, h3, h4 {
    font-family: "Montserrat";
}

blockquote {
    padding: 0 0 0 1.25em;
    font-style: italic;
    color: #63636BF0;
    border-left: 3px solid #186ADC;
    margin-left: 5px !important;
}

a, a:visited {
    color: #186ADC;
}
a:hover, a:active {
    color: #186ADCCF;
}

.rst-content pre code {
    border-radius: 5px !important;
    border:0 !important;
    padding:20px !important;
    line-height: 19px !important;
    font-size: 14px !important;
    color: #2f2f2f !important;
    background: rgba(240, 244, 248, 0.56);
}

.rst-content pre code .hljs-string {
    color: #e83e8c !important;
}

.rst-content pre code .hljs-attribute, .rst-content pre code .hljs-name, .rst-content pre code .hljs-tag {
    color: #186ADCCF;
}
.rst-content pre code .hljs-variable {
    color: #e83e8c !important;
}
.rst-content pre code .hljs-type {
    color: #186ADCCF;
}
.rst-content pre code .hljs-literal, .hljs-number {
    color: #186ADCCF;
}

.rst-content code {
    color: #186ADCCF;
}

.rst-content .toctree-wrapper>p.caption, h2 {
    font-size: 130%;
    font-weight: 400;
}

.wy-side-nav-search img {
    display: block;
    margin: auto auto 0.809em;
    height: auto;
    width: auto;
    background-color: white;
    padding: 5px;
    border-radius: 0;
}