:root > * {
    /* Code colors */
    --md-code-hl-color: #e1eafb;
    --md-code-hl-color--light: #4287ff1a;
    --md-code-hl-string-color: #e83e8c;

    /* Top background */
    --md-primary-fg-color:#FFF;

    /* Top font color */
    --md-primary-bg-color:#303036;
    --md-footer-bg-color:#303036;

    /* Nav color */
    --md-typeset-a-color:#303036;

}


body {
    color: #303036;
    font-family: 'Montserrat', sans-serif;
}

/* Header */

.md-header {
    background-color: #FFFFFF;
    color:#303036;
    max-height: 65px;
}


/* Search box */

.md-header .md-search__input {
    background-color: #FFFFFF;
    border: 1px solid #D4D4E1;
    color: #303036;
    border-radius: 5px;
    max-height: 35px;
}

.md-header .md-search__icon {
    color:#CCC;
    top: 0.2rem;
    left: 0.3rem;
}

/* Top project name on header */
.md-header .md-header-nav__topic {
    display: none;
}

/* Header left logo */
.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg {
    width: auto;
    height: auto;
}

.md-header-nav__button.md-logo, .md-header-nav__button.md-logo, .md-nav__button.md-logo {
    max-width: 140px;
    margin-right: 130px;
}

.md-nav__title .md-nav__button img {
    width: auto !important;
    height: 100% !important;
}

/*
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
*/

/* Sidebar */
@media (min-width: 1220px) {

    .md-nav--integrated .md-nav__link[for=__toc]~.md-nav {
        border-left: 1px solid #E7EBEF;
        padding-left: 10px;
    }

    ul.md-nav__list li.md-nav__item label.md-nav__link .md-nav__icon {
        color:#E7EBEF;
    }

    .md-sidebar__scrollwrap::-webkit-scrollbar-thumb {
        width: 1px;
    }

    .md-nav {
        padding-bottom:10px;
    }

    .md-nav--primary .md-nav__title[for=__drawer] {
        font-weight: 500;
        font-size: 22px;
        margin-bottom: 20px;
    }

    main .md-sidebar__scrollwrap {
        /*padding-left:15px;*/
    }

    .md-nav__item .md-nav__item {
        padding:0;
    }

    ul.md-nav__list li.md-nav__item label.md-nav__link {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 4px;
        margin-top:5px;
        color:#4c4d4d;
    }

    main .md-sidebar {
        width: 15.1rem;
    }

    main .md-sidebar, main .md-sidebar__scrollwrap {
        background-color: #f0f4f8;
        border-radius: 7px 7px 0 0;
    }

    main .md-sidebar__scrollwrap {
        margin: 0;
        border-radius: 0 0 7px 7px;
    }

    .md-header-nav {
        padding-left: 90px;
    }

    .md-header .md-search {
        padding-right:110px
    }

    .md-main {
        padding-left:100px;
        padding-right:100px;
    }

    footer.md-footer {
        padding-left: 100px;
        padding-right: 120px;
    }

    .md-nav ul.md-nav__list label.md-nav__link:hover,
    .md-nav ul.md-nav__list a.md-nav__link--active, .md-nav ul.md-nav__list a:hover {
        color: #186ADC;
    }

    .md-typeset a:visited, .md-typeset a:hover {
        color: #186ADC;
    }

}

@media (min-width: 1600px) {

    .md-nav--integrated .md-nav__link[for=__toc]~.md-nav {
        border-left: 1px solid #E7EBEF;
    }

    ul.md-nav__list li.md-nav__item label.md-nav__link .md-nav__icon {
        color:#E7EBEF;
    }

    .md-sidebar__scrollwrap::-webkit-scrollbar-thumb {
        width: 1px;
    }

    .md-nav {
        padding-bottom:10px;
    }

    .md-nav--primary .md-nav__title[for=__drawer] {
        font-weight: 500;
        font-size: 22px;
        margin-bottom: 20px;
    }

    /* Whole content of sidebar */
    main .md-sidebar__scrollwrap {
        padding-left:20px;
    }

    .md-nav__item .md-nav__item {
        padding:0;
    }

    ul.md-nav__list li.md-nav__item label.md-nav__link {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 5px;
        color:#4c4d4d;
    }

    main .md-sidebar {
        width: 15.1rem;
    }

    main .md-sidebar, main .md-sidebar__scrollwrap {
        background-color: #f0f4f8;
        border-radius: 7px 7px 0 0;
    }

    main .md-sidebar__scrollwrap {
        margin: 0;
        border-radius: 0 0 7px 7px;
    }

    .md-header-nav {
        padding-left: 240px;
    }

    .md-header .md-search {
        padding-right:260px
    }

    .md-main {
        padding-left:250px;
        padding-right:250px;
    }

    footer.md-footer {
        padding-left: 250px;
        padding-right: 250px;
    }

    .md-nav ul.md-nav__list label.md-nav__link:hover,
    .md-nav ul.md-nav__list a.md-nav__link--active, .md-nav ul.md-nav__list a:hover {
        color: #186ADC;
    }

    .md-typeset a:visited, .md-typeset a:hover {
        color: #186ADC;
    }

}

/* body part */
.md-grid {
    max-width: initial;
}

.md-content__inner {
    padding-top:0;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

.md-typeset h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #4c4d4d;
    font-size: 1.7em;
}

.md-typeset blockquote {
    border-left: .2rem solid #186ADC;
}
.md-typeset img {
    display:block;
    margin: 20px auto;
}

/* Footer */
footer.md-footer {
    background-color: #303036;
}

footer.md-footer .md-footer-nav {
    background-color: #303036;
    border-bottom: 1px solid #63636b;
}
footer.md-footer .md-footer-meta {
    background-color: #303036;
}

footer.md-footer .md-footer-nav__title {
    font-size: 1.5em !important;
    padding:0 !important;
}
footer.md-footer .md-footer-nav__direction {
    padding:0 !important;;
}

.md-typeset ul li, .md-typeset ol li {
    margin-bottom: 0;
}

/* ==================== NU ====================== */

/*a, a:visited, a:hover {*/
/*    color: #186ADC;*/
/*}*/